* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    border: solid gray;
    border-radius: 15px;
    padding: 20px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  